
      <div class="col-sm-5">
        <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="$key">


          <div class="form-group">
            <label>Full Name:</label>
            <input formControlName="fullName" class="form-control"
              [ngClass]="{'is-invalid': submitted && formControls.fullName.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
              The Field Is Required
            </div>
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input formControlName="email" class="form-control"
              [ngClass]="{'is-invalid': submitted && formControls.email.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
              Email Is Required
            </div>

          </div>


          <div class="form-group">
            <label>Mobile:</label>
            <input formControlName="mobile" class="form-control"
              [ngClass]="{'is-invalid': submitted && formControls.mobile.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
              <label *ngIf="formControls.mobile.errors.required">
                Mobile No Is Required
              </label>

              <label *ngIf="formControls.mobile.errors.minlength">
                8 No Requireds Atleast.
              </label>
            </div>

          </div>


          <div class="form-group">
            <label>Location:</label>
            <input formControlName="location" class="form-control">
          </div>
          <div class="form-group">
            <input type="Submit" value="Submit" class="btn btn-primary">
          </div>

        </form>


      </div>
      <div class="col-sm-7">
        <app-customer-list></app-customer-list>
      </div>
  

